<div class="d-flex justify-content-between">
    @*<span class="explore">Explore <b>@ViewBag.totalMission Missions</b></span>*@
    <div class="d-flex sort">
        @*<div class="dropdown border shadow-sm d-flex align-items-center">*@
        <div class=" w-100 d-flex justify-content-between align-items-center p-2"
             data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
             id="sort">
            @*<span class="text-muted">Sort by</span>
                <img src="~/Assets/drop-down.png" class="h-50" alt="not load" />*@
        </div>
        @*<span class="dropdown-menu" aria-labelledby="sort">
            <a class="dropdown-item" href="#">Newest</a>
            <a class="dropdown-item" href="#">Oldest</a>
            <a class="dropdown-item" href="#">Lowest Available Seats</a>
            <a class="dropdown-item" href="#">Highest Available Seats</a>
            <a class="dropdown-item" href="#">My Favourite</a>
            <a class="dropdown-item" href="">Registration Deadline</a>
            </span>*@
        @*</div>*@
        @*<img src="~/Assets/grid.png" class="view rounded-circle" id="grid" onclick="gridview()"
            alt="not load" style="object-fit:scale-down;" />
            <img src="~/Assets/list.png" alt="not load" class="rounded-circle" id="list" onclick="listview()"
            style="object-fit:scale-down;" />*@
    </div>
</div>
@*<div class="mt-3 text-center">
    <img src="~/Assets/404-Page-image.png" />
</div>*@
<div class="mt-3 text-center">
    <h3 class="mt-5 text-center"> No Mission Found </h3>
    @*<button type="button" class="btn btn-outline-warning submit1">
        Submit new mission
        <img src="/Assets/right-arrow.png">
    </button>*@

</div>