.endtext1 {
    justify-content: end;
}

.ratings {
    margin-right: 10px;
}

    .ratings i {
        color: #cecece;
        font-size: 25px;
    }
    

.rating-color {
    color: #fbc634 !important;
}

.rating1 {
    justify-content: space-between;
}

@media screen and (max-width : 576px) {
    .endtext1 {
        justify-content: center;
        max-height: 50px;
    }
}

.btn:hover {
    background-color: #F88634;
    color: white;
}

.endtext2 {
    justify-content: start;
}

@media screen and (max-width : 576px) {
    .endtext2 {
        justify-content: center;
    }
}


/**********************/
/*                    */
/*                    */
/*                    */
/*                    */
/*                    */
/**********************/
/*                    
/*                    
/*                    
/*                    
/*                    
/*                    
*/



.search-div {
    width: 35%;
}

.search-input {
    border: none;
}

.filters {
    width: 60%;
}

    .filters span, img {
        cursor: pointer;
    }

    .filters div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.filter-image {
    display: none;
}

.all-choices div {
    margin-right: 20px;
}

.shadow-sm {
    width: 205px;
    margin-right: 50px;
}

.explore {
    font-size: 30px;
}

.view {
    background-color: #e4e1e1;
    margin-right: 20px;
}

.img-event, .caption {
    position: relative;
}

.list-group-image {
    display: block;
}

.location-img {
    position: absolute;
    top: 0;
    right: 0;
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 0.5;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 13px;
    padding-right: 13px;
    margin: 10px;
    border: none;
}

.like-img {
    position: absolute;
    top: 40%;
    right: 0;
    background: #000000;
    border-radius: 100px;
    opacity: 0.8;
    margin: 10px;
    /*padding: 7px;*/
    font-size: 21px;
}

    .like-img:hover {
        color: black;
        font-size: 24px;
    }

.unlike-img {
    position: absolute;
    top: 40%;
    right: 0;
    background: #000000;
    border-radius: 100px;
    opacity: 0.8;
    margin: 10px;
    font-size: 21px;
    color:white
}

    .unlike-img:hover {
        font-size: 24px;
    }


.stop-img {
    position: absolute;
    top: 60%;
    right: 0;
    background: #000000 0% 0% no-repeat padding-box;
    opacity: 0.5;
    border-radius: 100px;
    margin: 10px;
    /*padding: 7px;*/
    font-size: 21px;
    color: white;
}

    .stop-img:hover {
        color: white;
        font-size: 24px;
    }

.mission-theme {
    position: absolute;
    bottom: -4%;
    left: 35%;
    bottom: -6%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 18px;
    opacity: 1;
}


.applyButton {
    border: 2px solid #F88634;
    border-radius: 100px;
    color: #F88634;
    padding-left: 20px;
    padding-right: 20px;
}

    .applyButton:hover {
        background-color: #F88634;
        color: white;
    }


.duration-seats-info {
    position: relative;
    width: 100%;
    border-top: 1px solid #E8E8E8;
    text-align: center;
}

.duration {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 18px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0, -55%);
    margin-left: 15%;
    margin-right: 15%;
}

.Seats p, .deadline p {
    margin-block-end: 0;
    margin-block-start: 0;
}

.Seats span, .deadline p {
    margin-left: 10px;
}

.page-link {
    color: gray;
}

.pagination li {
    margin-right: 10px;
}

.page-link:hover {
    background-color: #F88634;
    color: white;
}

.active {
    background-color: #F88634;
    color: white
}

.progress {
    height: 10px;
    border-radius: 20px;
}

.progress-bar {
    background-color: #F88634;
}

@media (max-width:992px) and (min-width:768px) {
    .search {
        width: 15px;
    }

    .explore {
        font-size: 20px;
        margin-top:-35px !important;
    }
}

@media (max-width:768px) and (min-width:576px) {
    .home {
        height: 40px;
    }

    .search {
        width: 12px;
    }

    .filter-dropdown {
        width: 7px;
    }

    .explore {
        font-size: 15px;
    }

    .shadow-sm {
        width: 150px;
        margin-right: 30px;
    }
}

@media (max-width:576px) {
    #list, .filters, .all-choices, .sort {
        display: none !important;
    }

    .search-div {
        width: 70%;
    }

    .filter-image {
        display: block;
        width: 20px;
        height: 20px;
    }

    .filter-dropdown {
        width: 7px;
        height: 5px;
    }

    .explore {
        font-size: 20px;
    }
}
